.tk-average-monthly-goals .colorize-currency .currency.positive {
  color: var(--budget_balance_positive_background);
}

.tk-average-monthly-goals .colorize-currency .currency.negative {
  color: var(--budget_balance_negative_background);
}

.tk-average-monthly-goals .total-income.warning .currency {
  color: var(--budget_balance_warning_background);
}

.tk-average-monthly-goals .goal-remaining-balance.positive .currency {
  color: var(--budget_balance_positive_background);
}

.tk-average-monthly-goals .goal-remaining-balance.negative .currency {
  color: var(--budget_balance_negative_background);
}

.tk-average-monthly-goals .extra-bottom-space {
  margin-bottom: 1rem;
}
